In [11]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
data = {
    "name": [
        "chevrolet chevelle malibu", "buick skylark 320", "plymouth satellite",
        "ford torino", "amc rebel sst", "ford galaxie 500", "toyota corona mark ii",
        "datsun pl510", "volkswagen 1131 deluxe sedan", "bmw 2002"
    ],
    "mpg": [18, 15, 18, 16, 17, 15, 24, 27, 26, 26],
    "cylinders": [8, 8, 8, 8, 8, 8, 4, 4, 4, 4],
    "displacement": [307, 350, 318, 304, 302, 429, 113, 97, 97, 121],
    "horsepower": [130, 165, 150, 150, 140, 198, 95, 88, 46, 113],
    "weight": [3504, 3693, 3436, 3433, 3449, 4341, 2372, 2130, 1835, 2234],
    "acceleration": [12, 11.5, 11, 12, 10.5, 10, 15, 14.5, 20.5, 12.5],
    "model_year": [70, 70, 70, 70, 70, 70, 70, 70, 70, 70],
    "origin": ["usa", "usa", "usa", "usa", "usa", "usa", "japan", "japan", "europe", "europe"]
}
df = pd.DataFrame(data)


 3) Display shape
df.shape

4) Show column names
df.columns.tolist()

 6) Set 'name' as index
df.set_index("name", inplace=True)

 7) Unique mpg values
df['mpg'].unique()

8) Add hp/weight ratio
df['hp_weight_ratio'] = df['horsepower'] / df['weight']
df.set_index("hp_weight_ratio", inplace=True)

IndentationError: unexpected indent (901781088.py, line 23)